h1 {
  margin: 0;
}

.content {
  transition: margin-inline 250ms ease-out;
  margin-inline: var(--page-margin);
}

@media screen and (width <= 600px) {
  :root {
    --page-margin: 16px;
  }
}

@media screen and (600px < width <= 840px) {
  :root {
    --page-margin: 24px;
  }
}

@media screen and (840px < width) {
  :root {
    --page-margin: 24px;
  }
}

/* Wrapper element */
.bg-header-image-small {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../banner-small.webp");
}

/* Inner element */
.bg-header-image {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../banner.webp");
  height: fit-content;
  min-height: var(--header-height);

  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  color: white;
}

.bg-header-image-small,
.bg-header-image {
  background-size: cover;
  background-position: 0% 10%;
}

header h1 {
  height: fit-content;
  justify-self: flex-end;
}

.bg-header-image {
  --header-height: 152px;
  min-height: var(--header-height);
  padding-bottom: 28px;
  padding-inline: 16px;
  padding-top: 20px;
  transition: padding 500ms ease-out, min-height 500ms ease-out;
}

@media screen and (height < 30em) {
  .bg-header-image {
    padding: 0;
    --header-height: 64px;
    padding-inline: 16px;
  }
}

.specs-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
