html {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  transition: all 250ms ease-in-out;
  transition-property: color, background-color;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.fixed-bottom-right {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1em;
}

.buttons-row {
  width: 100%;
  display: flex;
}
