.specs-row {
  display: flex;
  gap: 8px;
}

.spec-card {
  border: 1px var(--md-sys-color-outline) solid;
  border-radius: 12px;
  padding-inline: 16px;

  flex: 0 0;
  flex-basis: 8em;
  min-width: 5em;
  padding-block: 0.3em;

  display: grid;
  grid-template-rows: 1fr auto auto;
  justify-content: center;

  text-align: center;
}

.spec-card h3 {
  margin: 0;
  margin-bottom: 0.4em;
}

.spec-card md-icon,
.spec-card iconify-icon {
  font-size: 2em;
  margin-bottom: 0.2em;
  width: min-content;
  margin-inline: auto;
}

.spec-card .value {
  font-size: 1.5em;
}
